<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <h1>Hello World!</h1>
    <p>Welcome to my first Django project!</p>

    <p>Back to <a href="/testCardCheck">Members</a></p>

    <p>https://www.w3schools.com/django/django_master_template.php</p>
    <button type="button" class="btn btn-primary" id="VideoCapture">Video Plot</button>

    <!-- Image container to display the captured image -->
    <div id="video_imageContainer"></div>

    <br>

    <!-- ปุ่ม test สำหรับ testCardCheck ใน views.py -->
    <button type="button" class="btn btn-primary" id="testButton">Test Card Check</button>

    <br>
    <br>
    
    <form id="pdfUploadForm" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- ตัว token ด้านบนช่วยเรื่อง security,  When the form is submitted, Django checks the CSRF token to ensure it matches the expected value. This helps prevent CSRF attacks. -->
        <!-- อ่านต่อเพิ่มเติมได้ คลิ๊กที่นี้ => https://docs.djangoproject.com/en/5.0/ref/csrf/ -->
        <input type="file" name="pdf_file" accept=".pdf" id="pdfFileInput">
        <button type="button" class="btn btn-warning" id="pdfUploadButton">Upload PDF</button>
    </form>

    <!-- แสดงภาพ pdf ที่ upload เข้ามา -->
    <div id="pdfUploadContainer"></div>
    

    <br>
    <br>


    <form id="imageUploadForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image_file" accept="image/*" id="imageFileInput">
        <button type="button" class="btn btn-success" id="imageUploadButton">Upload Image</button>
    </form>
    
    <!-- แสดงภาพ ที่ upload เข้ามา -->
    <div id="imageUploadContainer"></div>
    

    <br>
    <br>

    <button type="button" class="btn btn-dark" id="createImageTable">สร้างตาราง</button>
   

    <script>
        //? $ เป็นการย่อของ jQuery ซึ่งเป็นไลบรารี JavaScript ที่ทำให้การจัดการ DOM

        // เมื่อเอกสาร HTML โหลดเสร็จ
        $(document).ready(function() {
            console.log("โหลดหน้า Homepage.html 📦📦");
            // เมื่อปุ่ม VideoCapture ถูกคลิก
            $("#createImageTable").click(function() {
                console.log("alert(response);");
                $.ajax({
                    url: "/createImageTable/",
                    type: "GET",
                    success: function(response){
                        console.log(response);

                        // Access the PDF link and image links from the JSON response
                        var pdfLink = response.pdf_link;
                        var imageLinks = response.image_links;

                        // Display the PDF link
                        var pdfLinkElement = $("<p>").html("Download PDF: <a href='" + pdfLink + "' download>PDF Link</a>");
                        $("#pdfUploadContainer").empty().append(pdfLinkElement);

                        // Display the image links
                        var imageLinksList = $("<ul>");
                        for (var i = 0; i < imageLinks.length; i++) {
                            var listItem = $("<li>").html("Download Image " + (i + 1) + ": <a href='" + imageLinks[i] + "' download>Image " + (i + 1) + " Link</a>");
                            imageLinksList.append(listItem);
                        }
                        $("#pdfUploadContainer").append(imageLinksList);
                    },
                    error: function(error){
                        console.log("Error:", error);
                    }
                });
            });
            $("#VideoCapture").click(function() {
                // ทำ AJAX request ไปยัง URL /VideoCapture/
                $.ajax({
                    url: "/VideoCapture/",
                    type: "GET",
                    dataType: "json",  // Specify that you expect a JSON response
                    success: function(response) {
                        console.log(response);
                        // Access the base64 string from the JSON response
                        var frameBase64 = response.frame_base64;

                        // Create an image element and set its source to the base64 string
                        var imgElement = $("<img>"); // สร้าง element <img> ใหม่ , ถ้าไม่ใช่ $ จะเป็น jQuery(document.createElement("img"))
                        imgElement.attr("src", "data:image/jpeg;base64," + frameBase64);

                        // Append the image element to the image container
                        $("#video_imageContainer").empty().append(imgElement); // ลบข้อมูลทั้งหมดที่อยู่ใน element ที่มี id เท่ากับ "imageContainer" และนำ <img> element ที่สร้างมาใส่.
                    },
                    error: function(error) {
                        console.log("Error:", error);
                    }
                });
            });

            // เมื่อปุ่ม testButton ถูกคลิก
            $("#testButton").click(function() {
                // ทำ AJAX request ไปยัง URL /testCardCheck/
                $.ajax({
                    url: "/testCardCheck/",
                    type: "GET",
                    success: function(response) {
                        // แสดงข้อความที่ได้รับจาก server
                        alert(response);
                    },
                    error: function(error) {
                        console.log("Error:", error);
                    }
                });
            });


            //  ทำการอัปโหลดไฟล์ PDF โดยใช้ pathคือ /upload_and_convert_pdf/ เมื่อกด ปุ่มที่มี id="#pdfUploadButton"
            $("#pdfUploadButton").click(function() {
                var formData = new FormData($("#pdfUploadForm")[0]); //  มาจาก id="pdfUploadForm"
                $.ajax({
                    url: "/upload_and_convert_pdf/",
                    type: "POST",
                    data: formData, //  ข้อมูลที่จะส่งไปกับ request 
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        console.log(response); 
                        // ฝั่งหลังบ้าน ส่งมาแบบนี้ --> return JsonResponse({'png_path': fs.url('output.png')})
                        // alert("PDF uploaded and converted successfully! PNG saved at " + response.png_path);
                        if (response.page_png_path_url) { // ได้  png_url: "/media/output.png"
                            // สร้าง element สำหรับภาพ

                            // เคลียร์ container เก่า
                            $("#pdfUploadContainer").empty();

                            // ลูปผ่านทุก URL ใน array
                            for (var i = 0; i < response.page_png_path_url.length; i++) {
                                // สร้าง element <img> สำหรับแต่ละ URL
                                var imgElement = $("<img>");
                                imgElement.attr("src", response.page_png_path_url[i]);

                                // แทรกภาพลงใน container
                                $("#pdfUploadContainer").append(imgElement);
                            }
                            

                            // แสดง alert ว่าเสร็จสิ้น
                            alert("PDF uploaded and converted successfully! PNG saved at " + response.png_url);
                        } else {
                            // กรณี error
                            alert("Error: " + response.error);
                        }

                    },
                    error: function(error) {
                        console.log("Error:", error);
                    }
                });
            });
            

            $("#imageUploadButton").click(function() {
                var formData = new FormData($("#imageUploadForm")[0]);
                $.ajax({
                    url: "/upload_image/",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        // Handle the success response
                        console.log(response);
                        if (response.saveImage_url) { // ได้  png_url: "/media/output.png"
                            // สร้าง element สำหรับภาพ
                            var imgElement = $("<img>");
                            imgElement.attr("src", response.saveImage_url);
                            imgElement.css({
                                'width': '300px',
                                'height': '200px'
                            });

                            // แทรกภาพลงใน container
                            $("#imageUploadContainer").empty().append(imgElement);

                            // แสดง alert ว่าเสร็จสิ้น
                            alert("successfully! Image " + response.png_url);
                        } 
                        else {
                            // กรณี error
                            alert("Error: " + response.error);
                        }
                        if (response.firstName) {
                            let yourname = " ชื่อ : " + response.firstName + " นามสกุล : " +response.surName;
                            var divElement = $("<div>").text(yourname);
                            $("#imageUploadContainer").append(divElement);
                        }
                        if (response.newPhoto) {
                            var divElement_newPhoto = $("<div>").text("ไม่สามารถตรวจจับชื่อจากภาพได้ ช่วยถ่ายรูปใหม่ด้วยค่ะ");
                            $("#imageUploadContainer").append(divElement_newPhoto);
                        }
                        if (response.errorPDF) {
                            var divElement_loadPDF = $("<div>").text("*กรุณาอัพโหลด PDF ก่อน จะ อัพโหลดรูปด้วยค่ะ");
                            divElement_loadPDF.css({
                                "color": "red"
                            })
                            $("#imageUploadContainer").empty().append(divElement_loadPDF);
                        }
                    },
                    error: function(error) {
                        // Handle the error response
                        console.log("Error:", error);
                        // กรณี error ที่เกิดขึ้นในการทำ AJAX request
                        var pdfLinkElement = $("<p>").html("*กรุณาอัพโหลดภาพก่อนค่ะ");
                        pdfLinkElement.css({
                            "color": "red"
                        })
                        $("#imageUploadContainer").empty().append(pdfLinkElement);
                    }
                });
            });


        });
    </script>
</body>
</html>
